{% load static %}
<!doctype html>
<html lang="fa" dir="rtl">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Atoli - Hotel & Resorts HTML Template">
    <meta name="description" content="Atoli - Hotel & Resorts HTML Template">
    <meta name="author" content="Barat Hadian">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.rtl.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/fonts/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/boxicons.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/rtl.css' %}">

    <link rel="stylesheet" href="{% static 'assets/datepicker-jalali/css/persianDatepicker-default.css' %}"/>

    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
    <title>  سایت رزرو هتل و اقامتگاه مسافرتی</title>
</head>
<body>


<header class="top-header top-header-bg">
    <div class="container">
        <div class="row align-items-center"
            <div class="col-lg-9 col-md-10">
                <div class="header-right">
                    <ul>
                        <li>
                            <i class='bx bx-home-alt'></i>
                            <a href="#">ایران ، تهران ، میدان آزادی ، خیابان 9</a>
                        </li>
                        <li>
                            <i class='bx bx-phone-call'></i>
                            <a href="tel:+1-(123)-456-7890">+1 (123) 456 7890</a>
                        </li>
                        <li>
                            <i class='bx bx-envelope'></i>
                            <a href="mailto: hello@atoli.com"> hello@atoli.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="navbar-area">

    <div class="mobile-nav">
            <img src="{% static 'assets/img/logos/logo-3.png' %}" alt="Logo">
    </div>

    <div class="main-nav nav-three">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light ">
                    <img src="{% static 'assets/img/logos/logo-3.png' %}" alt="Logo">
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link ">
                                خانه
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="{% url 'app:index' %}" class="nav-link ">
                                        صفحه اصلی
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'app:about' %}" class="nav-link active">
                                درباره ما
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                صفحات
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="{% url 'app:team' %}" class="nav-link">
                                        تیم ما
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'app:frequently-questions' %}" class="nav-link">
                                        سوالات متداول
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a href="{% url 'app:show_comment' %}" class="nav-link">
                                        نطرات مشتریان
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'app:terms_condition' %}" class="nav-link">
                                        قوانین و ضوابط
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'app:privacy_policy' %}" class="nav-link">
                                        حریم خصوصی
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                خدمات
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="{% url 'app:services_1' %}" class="nav-link">
                                        خدمات تفریحی ما
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'app:room' %}" class="nav-link">
                                اتاق ها
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="{% url 'app:room' %}" class="nav-link">
                                        مشاهده اتاق ها
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'app:contact' %}" class="nav-link">
                                تماس با ما
                            </a>
                        </li>

                    </ul>
                    <div class="nav-btn">
                        <a href="{% url 'app:room' %}" class="default-btn btn-bg-three">مشاهده اتاق ها</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>


<div class="inner-banner inner-bg1">
    <div class="container">
        <div class="inner-title">
            <ul>
                <li>
                    <a href="{% url 'app:index' %}">خانه</a>
                </li>
                <li><i class='bx bx-chevron-left'></i></li>
                <li>درباره ما</li>
            </ul>
            <h3>درباره ما</h3>
        </div>
    </div>
</div>


<div class="about-area pt-100 pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="{% static 'assets/img/about/about-img3.jpg' %}" alt="Images">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title">
                        <h2>ما در همه زمان بهترین هستیم و بنابراین یک رزرو سریع انجام دهید</h2>
                        <p>
                            توضیحات راجب هتل
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="choose-area pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>چرا هتل و استراحتگاه ما را انتخاب می کنید و سایر هتل ها را تشکیل می دهید</h2>
        </div>
        <div class="row pt-45">
            <div class= "col-lg-4 col-md-6">
                <div class="choose-card">
                    <i class="flaticon-restaurant"></i>
                    <h3>امکانات رستوران</h3>
                    <p>
                        ما یکی از بهترین شرکت ها در بازار جهانی هستیم و برای همه راهنماهای خود امکانات رستوران داریم
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="choose-card">
                    <i class="flaticon-wifi-signal-1"></i>
                    <h3>وای فای رایگان</h3>
                    <p>
                        ما یکی از بهترین شرکت ها در بازار جهانی هستیم و برای همه راهنماهای خود امکانات رستوران داریم
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="choose-card">
                    <i class="flaticon-fireworks"></i>
                    <h3>5 ستاره</h3>
                    <p>
                        ما یکی از بهترین شرکت ها در بازار جهانی هستیم و برای همه راهنماهای خود امکانات رستوران داریم
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ability-area section-bg pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="ability-content">
                    <div class="section-title">
                        <h2>توانایی ما در بازار جهانی و بین المللی</h2>
                        <p>
                            لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                            ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم
                            ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="ability-counter">
                                <h3 class="text-color">14K</h3>
                                <p>5 ستاره مجلل</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="ability-counter">
                                <h3 class="text-color">225K</h3>
                                <p>سرو صبحانه</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ability-img-2">
                    <img src="{% static 'assets/img/ability-img2.jpg' %}" alt="Images">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="specialty-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="specialty-img-3">
                    <img src="{% static 'assets/img/specialty/specialty-img3.jpg' %}" alt="Images">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="specialty-list">
                    <div class="section-title">
                        <h2>بخشهای تخصصی ما و سایر جزئیات</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="specialty-list-card">
                                <i class="text-color flaticon-decoration"></i>
                                <h3>دکوراسیون خوب</h3>
                                <p>ما در مورد اتاق خود و همه تزئینات تفرجگاه بسیار مراقب هستیم. بنابراین ، ما را امتحان
                                    کنید.</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="specialty-list-card">
                                <i class="text-color flaticon-champagne-glass"></i>
                                <h3>رستوران مجلل</h3>
                                <p>به راحتی می توانید از دسترسی رایگان به یک رستوران سوپراستار با قیمت مناسب لذت
                                    ببرید.</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="specialty-list-card">
                                <i class="text-color flaticon-fireworks"></i>
                                <h3>5 ستاره</h3>
                                <p>آتولی یک آژانس شناخته شده است و آژانس یکی از بهترین آژانس های 5 ستاره است. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="team-area-two pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>عضو تیم ویژه ما و جزئیات آنها در یک نگاه</h2>
        </div>
        <div class="row pt-45">
            <div class="col-lg-4 col-md-6">
                <div class="team-card">
                        <img src="{% static 'assets/img/team/team-img1.jpg' %}" alt="Images">
                    <div class="content">
                        <h3>تام شومات</h3>
                        <span>مدیر</span>
                    </div>
                    <ul class="social-link">
                        <li>
                            <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-card">
                        <img src="{% static 'assets/img/team/team-img2.jpg' %}" alt="Images">
                    <div class="content">
                        <h3>تام شومات</h3>
                        <span>مدیر</span>
                    </div>
                    <ul class="social-link">
                        <li>
                            <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="team-card">
                        <img src="{% static 'assets/img/team/team-img3.jpg' %}" alt="Images">
                    <div class="content">
                        <h3>تام شومات</h3>
                        <span>مدیر</span>
                    </div>
                    <ul class="social-link">
                        <li>
                            <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



{% include "base/footer.html" %}

</body>
</html>

