{% load static %}
<footer class="footer-area footer-bg">
    <div class="container">
        <div class="footer-top pt-100 pb-70">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                                <img src="{% static 'assets/img/logos/footer-logo1.png' %}" alt="Images">
                        </div>
                        <p>
                            لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                            ایپسوم ساختار چاپ و متن را در بر می گیرد.
                        </p>
                        <ul class="footer-list-contact">
                            <li>
                                <i class='bx bx-home-alt'></i>
                                <a href="#">ایران ، تهران ، میدان آزادی ، خیابان 9</a>
                            </li>
                            <li>
                                <i class='bx bx-phone-call'></i>
                                <a href="tel:+1-(123)-456-7890">+1 (123) 456 7890</a>
                            </li>
                            <li>
                                <i class='bx bx-envelope'></i>
                                <a href="mailto: hello@atoli.com"> hello@atoli.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget pl-5">
                        <h3>لینک ها</h3>
                        <ul class="footer-list">
                            <li>
                                <a href="{% url 'app:about' %}" target="_blank">
                                    <i class='bx bx-caret-left'></i>
                                    درباره ما
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'app:services_1' %}" target="_blank">
                                    <i class='bx bx-caret-left'></i>
                                    خدمات
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'app:team' %}" target="_blank">
                                    <i class='bx bx-caret-left'></i>
                                    تیم ما
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'app:terms_condition' %}" target="_blank">
                                    <i class='bx bx-caret-left'></i>
                                    قوانین و ضوابط
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'app:terms_condition' %}" target="_blank">
                                    <i class='bx bx-caret-left'></i>
                                    حریم خصوصی
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3>لینکهای مفید</h3>
                        <ul class="footer-list">
                            <li>
                                <a href="{% url 'app:index' %}" target="_blank">
                                    <i class='bx bx-caret-left'></i>
                                    خانه
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'app:frequently-questions' %}" target="_blank">
                                    <i class='bx bx-caret-left'></i>
                                    سوالات متداول
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'app:show_comment' %}" target="_blank">
                                    <i class='bx bx-caret-left'></i>
                                    نظرات مشتریان
                                </a>
                            </li>
                            </a>
                            </li>
                            <li>
                                <a href="{% url 'app:contact' %}" target="_blank">
                                    <i class='bx bx-caret-left'></i>
                                    تماس با ما
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h3>خبرنامه</h3>
                        <p>
                            لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                            ایپسوم ساختار چاپ و متن را در بر می گیرد.
                        </p>
                        <div class="footer-form">
                            <form class="newsletter-form" data-toggle="validator" method="POST">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">

                                            <div id="validator-newsletter" class="form-result"></div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right-area">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="copy-right-text text-align1">
                        <p>
                            کپی رایت © 1403  تمام حقوق این سایت محفوظ است. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="social-icon text-align2">
                        <ul class="social-link">
                            <li>
                                <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
                            </li>
                            <li>
                                <a href="#" target="_blank"><i class='bx bxl-youtube'></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="{% static 'assets/js/jquery-3.5.1.slim.min.js' %}"></script>

<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>

<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>

<script src="{% static 'assets/js/wow.min.js' %}"></script>

<script src="{% static 'assets/js/jquery-ui.js' %}"></script>

<script src="{% static 'assets/js/meanmenu.js' %}"></script>

<script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>

<script src="{% static 'assets/js/form-validator.min.js' %"></script>

<script src="{% static 'assets/js/contact-form-script.js' %}"></script>

<script src="{% static 'assets/js/custom.js' %}"></script>


<script src="{% static 'assets/datepicker-jalali/js/persianDatepicker.min.js' %}"></script>
<script src="{% static 'assets/datepicker-jalali/picker-style.js' %}"></script>
