{% load static %}
<!doctype html>
<html lang="fa" dir="rtl">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Atoli - Hotel & Resorts HTML Template">
    <meta name="description" content="Atoli - Hotel & Resorts HTML Template">
    <meta name="author" content="Barat Hadian">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.rtl.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/fonts/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/boxicons.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/rtl.css' %}">


    <link rel="stylesheet" href="{% static 'assets/datepicker-jalali/css/persianDatepicker-default.css' %}"/>

    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
    <title>  سایت رزرو هتل و اقامتگاه مسافرتی</title>
</head>
<body>


<header class="top-header top-header-bg">
    <div class="container">
        <div class="row align-items-center"
            <div class="col-lg-9 col-md-10">
                <div class="header-right">
                    <ul>
                        <li>
                            <i class='bx bx-home-alt'></i>
                            <a href="#">ایران ، تهران ، میدان آزادی ، خیابان 9</a>
                        </li>
                        <li>
                            <i class='bx bx-phone-call'></i>
                            <a href="tel:+1-(123)-456-7890">+1 (123) 456 7890</a>
                        </li>
                        <li>
                            <i class='bx bx-envelope'></i>
                            <a href="mailto: hello@atoli.com"> hello@atoli.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="navbar-area">

    <div class="mobile-nav">
            <img src="{% static 'assets/img/logos/logo-3.png' %}" alt="Logo">
    </div>

    <div class="main-nav nav-three">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light ">
                    <img src="{% static 'assets/img/logos/logo-3.png' %}" alt="Logo">
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                                        <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link ">
                                خانه
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="{% url 'app:index' %}" class="nav-link ">
                                        صفحه اصلی
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'app:about' %}" class="nav-link ">
                                درباره ما
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                صفحات
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="{% url 'app:team' %}" class="nav-link">
                                        تیم ما
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'app:frequently-questions' %}" class="nav-link active">
                                        سوالات متداول
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'app:show_comment' %}" class="nav-link">
                                        نطرات مشتریان
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'app:terms_condition' %}" class="nav-link">
                                        قوانین و ضوابط
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'app:privacy_policy' %}" class="nav-link">
                                        حریم خصوصی
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                خدمات
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="{% url 'app:services_1' %}" class="nav-link">
                                        خدمات تفریحی ما
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'app:room' %}" class="nav-link">
                                اتاق ها
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="{% url 'app:room' %}" class="nav-link">
                                        مشاهده اتاق ها
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'app:contact' %}" class="nav-link">
                                تماس با ما
                            </a>
                        </li>

                    </ul>
                    <div class="nav-btn">
                        <a href="{% url 'app:room' %}" class="default-btn btn-bg-three">مشاهده اتاق ها</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>


<div class="inner-banner inner-bg6">
    <div class="container">
        <div class="inner-title">
            <ul>
                <li>
                    <a href="{% url 'app:index' %}">خانه</a>
                </li>
                <li><i class='bx bx-chevron-left'></i></li>
                <li>سوالات متداول</li>
            </ul>
            <h3>سوالات متداول</h3>
        </div>
    </div>
</div>


<div class="faq-area pt-100 pb-70 section-bg-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="faq-content faq-content-bg2">
                    <div class="section-title">
                        <span class="sp-color">برای پرسیدن سوال ارسال کنید</span>
                        <h2>بیایید بدون سوال شروع کنیم و سریع پشتیبانی کنیم</h2>
                        <p>ما آژانسی هستیم که همیشه اولویت شما را بدون سوال و اولویت قرار می دهیم و به راحتی می توانید
                            یک دسته سوال کنید.</p>
                    </div>
                    <div class="faq-accordion">
                        <ul class="accordion">
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class='bx bx-plus'></i>
                                    چگونه می توان اتاق یا اقامتگاه را رزرو کرد؟
                                </a>
                                <div class="accordion-content">
                                    <p>
                                        لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده
                                        است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت
                                        بوده است.
                                    </p>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class='bx bx-plus'></i>
                                    چگونه می توان اتاق یا اقامتگاه را رزرو کرد؟
                                </a>
                                <div class="accordion-content">
                                    <p>
                                        لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده
                                        است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت
                                        بوده است.
                                    </p>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class='bx bx-plus'></i>
                                    چگونه می توان اتاق یا اقامتگاه را رزرو کرد؟
                                </a>
                                <div class="accordion-content">
                                    <p>
                                        لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده
                                        است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت
                                        بوده است.
                                    </p>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title active" href="javascript:void(0)">
                                    <i class='bx bx-plus'></i>
                                    چگونه می توان اتاق یا اقامتگاه را رزرو کرد؟
                                </a>
                                <div class="accordion-content show">
                                    <p>
                                        لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده
                                        است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت
                                        بوده است.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="faq-img-3">
                    <img src="{% static 'assets/img/faq/faq-img3.jpg' %}" alt="Images">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="faq-another pt-100 pb-70">
    <div class="container">
        <div class="faq-form">
            <div class="contact-form">
                <div class="section-title text-center">
                    <h2>سوال بپرس</h2>
                </div>
                <form id="contactForm" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="name" id="name" class="form-control" required
                                       data-error="لطفا نام خود را وارد کنید" placeholder="نام">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control" required
                                       data-error="لطفا ایمیل خود را وارد کنید" placeholder="ایمیل">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="phone" id="phone" required
                                       data-error="لطفا تلفن خود را وارد کنید" class="form-control" placeholder="تلفن">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="subject" id="subject" class="form-control" required
                                       data-error="لطفا موضوع خود را وارد کنید" placeholder="موضوع شما">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <textarea name="message" class="form-control" id="message" cols="30" rows="8" required
                                          data-error="پیام خود را بنویسید" placeholder="پیام شما"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group checkbox-option">
                                <input type="checkbox" id="chb2">
                                <p>
                                        پذیرفتن <a href="{% url 'app:terms_condition' %}">قوانین و ضوابط</a> و <a
                                            href="{% url 'app:privacy_policy' %}">حریم خصوصی.</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <button type="submit" class="default-btn btn-bg-three">
                                ارسال پیام
                            </button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include "base/footer.html" %}

</body>
</html>

